In [3]:
import glob

data = glob.glob('tokyo/*')
data

['tokyo/fuc22a12pol04police.csv',
 'tokyo/fuc22a12pol02police.csv',
 'tokyo/fuc22a12f_f04fire_fighting.csv',
 'tokyo/fuc22a12f_f01fire_fighting.csv',
 'tokyo/fuc22a12pol05police.csv',
 'tokyo/fuc22a12oth01others.csv',
 'tokyo/fuc22a12pol03police.csv',
 'tokyo/fuc22a12f_f05fire_fighting.csv',
 'tokyo/fuc22a12pol06police.csv',
 'tokyo/fuc22a12f_f02fire_fighting.csv',
 'tokyo/fuc22a12oth02others.csv',
 'tokyo/fuc22a12f_f06fire_fighting.csv',
 'tokyo/fuc22a12pol07police.csv',
 'tokyo/fuc22a12f_f03fire_fighting.csv',
 'tokyo/fuc22a12f_f07fire_fighting.csv',
 'tokyo/fuc22a12pol01police.csv']

In [16]:
police_all = pd.DataFrame()
fire_fighting_all = pd.DataFrame()
import pandas as pd
for idx in range(len(data)):
    if 'police' in data[idx]:
        df = pd.read_csv(data[idx], encoding='SHIFT_JIS')
        police_all = pd.concat([police_all,df])
    else:
        df = pd.read_csv(data[idx], encoding='SHIFT_JIS')
        fire_fighting_all = pd.concat([fire_fighting_all,df])
police_all = police_all.drop(columns = 'Unnamed: 0')
fire_fighting_all = fire_fighting_all.drop(columns = 'Unnamed: 0')
display(police_all, fire_fighting_all)

,年次,件数,死傷者_総数,死傷者_死亡者_総数,死傷者_重傷者_総数,死傷者_軽傷者_総数,件数_信号無視,死傷者_総数_信号無視,死傷者_死亡者_信号無視,死傷者_重傷者_信号無視,...,飲酒(人),喫煙(人),不良交友(人),暴走行為(指定行為(暴走族)）(人),不健全娯楽風俗営業所等立入(人),不健全娯楽射幸行為(人),不健全娯楽わいせつ図書等所持(人),不健全娯楽その他(人),薬物乱用(人),指定行為(人)
0,1974,65.0,67.0,2.0,14.0,51.0,…,…,…,…,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1975,67.0,70.0,1.0,17.0,52.0,…,…,…,…,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1976,74.0,74.0,2.0,13.0,59.0,…,…,…,…,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1977,66.0,71.0,1.0,10.0,60.0,…,…,…,…,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1978,62.0,62.0,1.0,8.0,53.0,5,5,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,31.0,0.0,0,82.0,0.0,0.0,0.0,0.0,3
47,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,23.0,0.0,0,57.0,1.0,0.0,0.0,0.0,8
48,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,14.0,0.0,0,86.0,0.0,0.0,1.0,0.0,12
49,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,14.0,0.0,0,17.0,0.0,0.0,0.0,0.0,0
50,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.0,15.0,0.0,0,5.0,0.0,0.0,0.0,0.0,0

,年次・時点,公設消火栓,公設防火水槽,公設貯水池,私設消火栓,私設防火水槽,私設貯水池,プール,受水槽,池水,...,水難_救護人員数,労災_救護人員数,一般_救護人員数,自損_救護人員数,加害_救護人員数,急病_救護人員数,転院搬送_救護人員数,医師搬送_救護人員数,資器材搬送_救護人員数,その他_救護人員数
0,1960,151,…,…,254,…,…,…,…,…,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1961,161,…,…,260,…,…,…,…,…,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1962,283,…,…,260,…,…,…,…,…,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1963,456,…,…,280,…,…,…,…,…,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1964,515,…,…,280,…,…,…,…,…,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.0,63.0,2339.0,74.0,82.0,8113.0,1108,0,0,0
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,90.0,2391.0,88.0,68.0,8600.0,967,0,0,0
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,87.0,2292.0,76.0,59.0,8701.0,850,0,0,0
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,65.0,2145.0,80.0,61.0,7501.0,770,0,0,0
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,61.0,1977.0,89.0,55.0,7291.0,770,0,0,0